* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b590bd;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  color: #fae7ff;
  text-decoration: underline 1px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #4c1a5f;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

ul {
  list-style: square;
}

ul li {
  margin-left: 10%;
}

.education {
    list-style: none;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #ffffff;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a:link {
    color: #760a9a;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: #760a9a;
    background-color: transparent;
    text-decoration: none;
  }
